In [1]:
import pandas as pd

In [3]:
event = pd.read_csv('data.csv')

In [5]:
event.head()

,ID,Event Type,Facility Name,County,State,Create Time,Close Time,Latitude,Longitude
0,2444268,incident,I-80,Passaic,NJ,01/01/2019 10:28:48 AM,01/01/2019 10:31:45 AM,40.905799,-74.161079
1,2444269,accident,I-87 - NYS Thruway,Orange,NY,01/01/2019 10:47:49 AM,01/01/2019 11:09:05 AM,41.691460,-74.078010
2,2444270,accident,I-495,Suffolk,NY,01/01/2019 01:07:46 PM,01/01/2019 02:02:49 PM,40.818401,-73.063697
3,2444273,accident,I-87 - NYS Thruway,Ulster,NY,01/01/2019 02:50:46 PM,01/01/2019 04:32:56 PM,42.013360,-73.998992
4,2444280,accident,I-87 Northway,Saratoga,NY,01/01/2019 05:11:46 PM,01/01/2019 06:25:44 PM,42.816600,-73.766899

In [7]:
num_rows = event.shape[0]
num_rows

27808

In [21]:
unique = event['State'].value_counts()
unique_pd = pd.DataFrame(unique)
unique

NY    19527
NJ     8253
CT       26
PA        2
Name: State, dtype: int64