In [1]:
import pandas as pd

In [3]:
event = pd.read_csv('data.csv')

In [5]:
event.head()

,ID,Event Type,Facility Name,County,State,Create Time,Close Time,Latitude,Longitude
0,2444268,incident,I-80,Passaic,NJ,01/01/2019 10:28:48 AM,01/01/2019 10:31:45 AM,40.905799,-74.161079
1,2444269,accident,I-87 - NYS Thruway,Orange,NY,01/01/2019 10:47:49 AM,01/01/2019 11:09:05 AM,41.691460,-74.078010
2,2444270,accident,I-495,Suffolk,NY,01/01/2019 01:07:46 PM,01/01/2019 02:02:49 PM,40.818401,-73.063697
3,2444273,accident,I-87 - NYS Thruway,Ulster,NY,01/01/2019 02:50:46 PM,01/01/2019 04:32:56 PM,42.013360,-73.998992
4,2444280,accident,I-87 Northway,Saratoga,NY,01/01/2019 05:11:46 PM,01/01/2019 06:25:44 PM,42.816600,-73.766899

In [7]:
num_rows = event.shape[0]
num_rows

27808

In [22]:
unique = event['State'].value_counts()

NY    19527
NJ     8253
CT       26
PA        2
Name: State, dtype: int64

In [25]:
event['Create Time']=pd.to_datetime(event['Create Time'])
event['Close Time']=pd.to_datetime(event['Close Time'])

In [26]:
event

,ID,Event Type,Facility Name,County,State,Create Time,Close Time,Latitude,Longitude
0,2444268,incident,I-80,Passaic,NJ,2019-01-01 10:28:48,2019-01-01 10:31:45,40.905799,-74.161079
1,2444269,accident,I-87 - NYS Thruway,Orange,NY,2019-01-01 10:47:49,2019-01-01 11:09:05,41.691460,-74.078010
2,2444270,accident,I-495,Suffolk,NY,2019-01-01 13:07:46,2019-01-01 14:02:49,40.818401,-73.063697
3,2444273,accident,I-87 - NYS Thruway,Ulster,NY,2019-01-01 14:50:46,2019-01-01 16:32:56,42.013360,-73.998992
4,2444280,accident,I-87 Northway,Saratoga,NY,2019-01-01 17:11:46,2019-01-01 18:25:44,42.816600,-73.766899
...,...,...,...,...,...,...,...,...,...
27803,2571682,earlier incident,I-95 - New England Thruway,Westchester,NY,2019-09-30 00:07:13,2019-09-30 01:59:14,40.987851,-73.677517
27804,2571695,construction,I-87 - NYS Thruway,Rockland,NY,2019-09-30 00:34:16,2019-09-30 04:40:19,41.100583,-74.033177
27805,2571700,construction,I-87 Major Deegan Expressway,Bronx,NY,2019-09-30 12:36:22,2019-09-30 12:50:20,40.803977,-73.916809
27806,2571705,accident,I-87 - NYS Thruway,Rockland,NY,2019-09-30 00:43:13,2019-09-30 00:55:13,41.225642,-74.183280
27807,2571706,debris spill,I-95 - New England Thruway,Westchester,NY,2019-09-30 12:43:17,2019-09-30 13:37:20,40.976930,-73.699046

In [37]:
event['Event Duration']= event['Close Time'] - event['Create Time']
event.head()

,ID,Event Type,Facility Name,County,State,Create Time,Close Time,Latitude,Longitude,Event Duration
0,2444268,incident,I-80,Passaic,NJ,2019-01-01 10:28:48,2019-01-01 10:31:45,40.905799,-74.161079,0 days 00:02:57
1,2444269,accident,I-87 - NYS Thruway,Orange,NY,2019-01-01 10:47:49,2019-01-01 11:09:05,41.691460,-74.078010,0 days 00:21:16
2,2444270,accident,I-495,Suffolk,NY,2019-01-01 13:07:46,2019-01-01 14:02:49,40.818401,-73.063697,0 days 00:55:03
3,2444273,accident,I-87 - NYS Thruway,Ulster,NY,2019-01-01 14:50:46,2019-01-01 16:32:56,42.013360,-73.998992,0 days 01:42:10
4,2444280,accident,I-87 Northway,Saratoga,NY,2019-01-01 17:11:46,2019-01-01 18:25:44,42.816600,-73.766899,0 days 01:13:58

NameError: name 'e' is not defined